# Data manipulation and analysis ------------------------
pandas
numpy

# Data visualization ------------------------------------
matplotlib
seaborn

# Natural Language Processing ---------------------------
nltk
spacy

# Machine Learning --------------------------------------
scikit-learn

# For rule-based processing -----------------------------
regex

# Miscellaneous -----------------------------------------
tqdm  # For progress bars
jupyterlab  # For Jupyter Notebook support
openai  # For GPT API
cdifflib  # For string similarity